!.gitkeep
/node_modules
/build
/*.tgz
.DS_Store
.idea
*.map
/coverage
*.tsbuildinfo
/public/static
/.rollup*
/.env
!/.env.sample

npm-debug.log*
yarn-debug.log*
yarn-error.log*
worker-preview
.wrangler
